
.navbar-nav {
    margin-left: auto;
}

.navbar {
    position: fixed;
    background-color: white;
    z-index: 1000;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: white;
    height: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 1.25vw;
    margin-right: 1.5vw;
    padding-left: 1vw;
}
#most-right {
    margin-right: 3.5vw;
}

.transition-elem-X {
    display: block;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.9s ease-in-out;
}

.transition-elem-X.visible{
    transform: translateX(0);
}

.transition-elem-Y {
    display: block;
    width: 100%;
    transform: translateY(50%);
    transition: transform 0.9s ease-in-out;
}

.transition-elem-Y.visible{
    transform: translateY(0);
}
.row {
    margin-top: 1.5vw;
}
.start {
    display: block;
    width: 100%;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.start {
    animation: slideInFromTop 1s ease-in-out;
}

.image-button {
    width: 3.5vw;
    height: 3.5vw;
    background: transparent;
    border: none;
    margin: 1vw 2vw 1vw 2vw;
  }
  
  .image-button img {
    width: 100%;
    border: none;
  }
  
  .image-button:hover {
    transform: scale(1.1);
  }
  .image-button:active {
    transform: scale(0.9);
  }
    
 .flex {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 3vw;
  }