
body {
    font-family: "Poppins", san-serif;
    overflow-x: hidden;
}

/* Styling for sections  */
section {
    display: grid;
    height: 100vh;
}
.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s;
}
.show {
    opacity: 1;
    transform: translateX(0);
}

.heading-slideshow{
    background-color: black;
    color: white;
    place-items: center;
    align-content: center;
}

.hidden2 {
    opacity: 0;
    transform: translateY(150%);
    transition: all 1s;
}

.show2 {
    opacity: 1;
    transform: translateY(0);
}


/* styling for nav bar*/
.navbar-nav {
    margin-left: auto;
}
.navbar {
    position: fixed;
    background-color: transparent;
    z-index: 1000;
    mix-blend-mode: difference;
}
.navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;;
    font-size: 1.3vw;
    font-weight: 550;
    margin: 0 2vw;
    color: white;
}

.navbar-brand {
    color: white;
    margin-left: 2vw;
    font-size: 2vw;
    font-weight: 700;

}
/* Styling for sections*/
.start {
    display: block;
    width: 100%;
}

.hidden.one {
    height: 105vh;
}
.hidden.two {
    background-color: black;
    color: white;
    place-items: center;
    align-content: center;
}
.hidden.four {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
    height: 50vw;
}
.hidden.five {
    place-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
}
.work {
    width: 100%;
}

.work-photo:nth-child(0) {
    transition-delay: 200ms;
}
.hidden.six {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden.seven {
    display: block;
    width: 100%;
}

.hidden.eight {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
    height: 50vw;
}

.hidden.ten {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
}

.gallery {
    white-space: nowrap; 
}

.slider {
    display: inline-block;
    animation: 15s slide infinite linear;
}
.slider img {
    height: 65vh;
    margin: 10px;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%);
    }
}

.heading {
    position: absolute;
    font-size: 11vh;
    font-weight: 600;
    color: white;
}

.gallery.with-vid {
    display: flex;
    white-space: nowrap; 
}
.slider.with-vid {
    display: flex;
}

.slider video {
    position: relative;
    height: 65vh;
    margin: 10px;
}

