body {
    font-family: 'Glacial Indifference', sans-serif;
    color: black;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#namecard {
  animation: slideInFromTop 1s ease-in-out;
}

#learn {
  animation: slideInFromTop 1.2s ease-in-out;
}

#line1 {
  animation: slideInFromTop 1.1s ease-in-out;
}

#resume {
  animation: slideInFromTop 1s ease-in-out;
}

#line2 {
  animation: slideInFromTop 0.9s ease-in-out;
}

#projects {
  animation: slideInFromTop 0.8s ease-in-out;
}

#instagram {
  animation: slideInFromTop 0.8s ease-in-out;
}

#facebook {
  animation: slideInFromTop 1s ease-in-out;

}

#github {
  animation: slideInFromTop 1.2s ease-in-out;
}

#linkedin {
  animation: slideInFromTop 1.4s ease-in-out;
}

hr {
  width: 72%;
  border: 2px solid black;
  margin: 0.4vw 0 0.4vw 15%;
}
#name {
  font-size: 2.8vw;
}
#compsci {
  font-size: 1.8vw;
}
#namecard {
  max-width: 80%;
  height: auto;
}
#left {
  background-color: white;
}
#terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252a33;
}
.btn {
  padding: 0.1vw 0.1vw;
  color: black;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.1vw;
  text-align: right;
  width: auto;
}
.btn:hover {
  background-color: transparent;
  transform: scale(1.1);
  color: black;
}
.btn:active{
  transform: scale(0.9);
  outline: none;
  border: none;
}

.image-button {

  width: 3vw;
  height: 3vw;
  background: transparent;
  border: none;
  margin: 1vw;
}

.image-button img {
  width: 100%;
  border: none;
}

.image-button:hover {
  transform: scale(1.1);
}
.image-button:active {
  transform: scale(0.9);
}

.text-button {
  text-align: right;
}
